.modal-calendar-wrapper{
    background-color: lightgray;
}

.modal-body{
    
}

.modal-calender{
    display: flex;
    justify-content: center;
}

.modal-button{
    display: flex;
    justify-content: center;
    width: 250px;
}